.search-form {
  min-width: 100%;
  padding: 24px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 16px;
  background-color: #444;
  color: #202020;
}

.search-form input {
  padding: 6px 16px;
  border: none;
  border-radius: 20px;
  background-color: #333;
  color: #fafafa;
  line-height: 1.5;
  font-weight: 500;
  outline: none;
}

.form-btn {
  padding: 6px 24px;
  border: none;
  border-radius: 18px;
  background-color: #fafafa;
  color: #202020;
  line-height: 1.5;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.form-btn:is(:hover, :focus) {
  background-color: #3d8eff;
  color: #fafafa;
}

.gallery {
  padding: 40px 100px 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.photo-card {
  max-width: 400px;
  background-color: #444;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border: 2px solid #fff;
  border-radius: 5px;
  margin: 10px 0;
}

.info-item {
  margin: 5px 0;
  font-size: 16px;
}

.load-more {
  display: block;
  margin: 24px auto;
  padding: 8px 24px;
  border: none;
  border-radius: 18px;
  background-color: #fafafa;
  color: #444;
  line-height: 1.5;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.load-more:is(:hover, :focus) {
  background-color: #3d8eff;
  color: #fafafa;
}

@media screen and (max-width: 1080px) {
  .search-form {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery {
    padding: 30px 50px 10px;
  }
}

@media screen and (max-width: 520px) {
  .search-form {
    display: flex;
    flex-wrap: wrap;
  }

  .gallery {
    padding: 20px 20px 10px;
  }
}
